:root {
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-darkblue: #32425C;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;

  --special-yellow: #FFBF47;
  --special-yellowlight: #FFD180;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;

  --click-green: #518534;
  --success-green: #5FBB2D;
  --attention-yellow: #FFBF47;
  --error-red: #BA2732;
  --special-grey: #EAEAEA;
  --border-grey: #E5E5E5;

  --darkblue-background: #293449;
  --milk-background: #F7F3EC;
  --coldwhite-background: #F9F5F0;
  --lightblue-background: #F2F6F8;

}

.page {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 960px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  color: var(--basic-black);
  background-color: var(--basic-white)
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 1.45;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  border: none;
}

.visually-hidden {
  display: none;
}

:focus {
  outline: none;
}

.main-header {
  font-family: 'Cuprum', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.01);
}

.header-up-container,
.footer-down {
  background-color: var(--darkblue-background);
}

.header-up {
  width: 940px;
  display: flex;
  justify-content: start;
  margin: 0 auto;
  flex-wrap: wrap;
}

.header-up,
.main-navigation {
  font-size: 18px;
  line-height: 1.45;
  color: var(--basic-white);
}

.logo {
  width: 220px;
  height: 42px;
  background-color: var(--basic-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-panel {
  display: flex;
  justify-content: space-between;
  margin: auto 0 auto;
  padding: 0;
 }

 .navigation-panel li {
   flex-grow: 1;
 }

.navigation-panel img {
  opacity: 0.3;
}

.navigation-panel img:hover {
  opacity: 1;
}

.navigation-panel,
.user-profile,
.profile-links,
.features-navigation,
.features-line,
.slider-content,
.features-column,
.popular-list,
.service-list,
.breadcrumps,
.sorting-list,
.manufacturer-choice,
.power-list,
.catalog-list,
.footer-navigation-panel,
.footer-features-list,
.social-media {
  list-style: none;
}

.header-up a,
.features-navigation a,
.footer-navigation-panel a {
  color: var(--basic-white);
}

.search-container {
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.search-form input {
  box-sizing: border-box;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  background-color: transparent;
  border: 0;
  color: var(--basic-white);
}

.search-form input::-webkit-input-placeholder {
  color: var(--basic-white);
}

.search-form input::-moz-placeholder {
  color: var(--basic-white);
}

.search-form input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.main-navigation,
.footer-up {
  background-color: var(--basic-darkblue);
}

.header-button,
.order-button {
  box-sizing: border-box;
  min-width: 150px;
}

.navigation-panel a:active {
  opacity: 0.5;
}

.navigation-panel img:active {
  opacity: 0.3;
}

.order-submission {
  background-color: var(--basic-green);
  text-align: center;
}

.header-container {
  background-color: var(--lightblue-background);
  padding-bottom: 60px;
}

.header-info,
.main-navigation {
  margin-left: 130px;
  margin-right: 130px;
}

.header-info {
  display: flex;
  justify-content: start;
  padding-top: 46px;
  padding-bottom: 48px;
}

.header-description {
  width: 320px;
  box-sizing: border-box;
  padding: 1px 45px;
  margin: 0;
  color: var(--basic-red);
  font-style: italic;
  font-size: 18px;
  line-height: 1.45;
}

.header-contacts {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.phone-header {
  color: var(--basic-red);
  font-size: 21px;
  font-weight: 700;
  line-height: 1.45;
  border: solid 3px #fff;
}

.header-contacts span {
  color: var(--basic-darkblue);
  font-size: 14px;
  line-height: 1.45;
}

.user-navigation {
  width: 320px;
  text-align: right;
  padding-right: 35px;
}

.user-profile {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-button,
.signup-button {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 1.45;
  background-color: var(--basic-white);
}

.login-button:hover,
.signup-button:hover {
  color: var(--basic-red);
}

.login-button:active,
.signup-button:active {
  color: var(--basic-greylight);
}

.profile-button {
  font-size: 21px;
  line-height: 1.45;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.profile-button:active {
  color: var(--basic-greylight);
}

.user-link {
  font-size: 18px;
  line-height: 1.45;
  color: var(--basic-darkblue);
}

.profile-links a:hover,
.profile-links a:focus {
  color: var(--basic-red);
}

.profile-links a:active {
  color: var(--basic-greylight);
}

.main-navigation {
  background-color: var(--basic-darkblue);
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: var(--darkblue-background);
}

.features-navigation {
  display: flex;
  justify-content: start;
  text-align: center;
  flex-wrap: wrap;
  margin: 0;
}

.features-navigation li {
  flex-grow: 1;
}

.menu-feature {
  display: flex;
  justify-content: center;
  padding: 16px 20px;
  margin: 0;
  text-align: center;
}

.main-title,
.section-title,
.service-title-delivery,
.popular-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 1.15;
  text-transform: uppercase;
}

.feature-item {
  width: 300px;
}

.features-line .feature-item:first-child {
  background-color: var(--special-yellow);
}

.features-line .feature-item:nth-child(2) {
  background-color: var(--special-blue);
}

.features-line .feature-item:last-child {
  background-color: var(--special-lilac);
}

.feature-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--basic-white);
  line-height: 1.15;
}

.features-column .feature-item:first-child {
  background-color: var(--special-greenlight);
}

.features-column .feature-item:last-child {
  background-color: var(--special-yellow);
}

.feature-button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.45;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3)
}

.feature-button:hover,
.feature-button:focus {
  background-color: rgba(197, 197, 197, 0.3);
}

.feature-button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.slider {
  font-family: 'Cuprum', Arial, sans-serif;
  color: var(--basic-white);
}

.slider-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
}

.slider-item p {
  font-size: 18px;
  line-height: 1.45;
}

.catalog-button {
  font-size: 14px;
  color: var(--basic-white);
  line-height: 1.45;
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.popular-title,
.service-title-delivery {
  color: var(--basic-darkblue);
}

.popular-title-container {
  background-color: var(--coldwhite-background);
}

.manufacturer-item {
  width: 220px;
  border: 1px solid var(--special-grey);
}

.popular-items-button,
.all-manufacturers-button {
  font-size: 14px;
  color: var(--basic-white);
  line-height: 1.45;
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.service-section-container {
  background-color: var(--basic-background);
}

.service-promo {
  line-height: 1.45;
}

.service-list li {
  width: 240px;
  background-color: var(--basic-darkblue);
}

.service-list li:hover,
.service-list li:focus {
  background-color: var(--darkblue-background);
}

.service-option {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-white);
  line-height: 30px;
}

.service-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  line-height: 1.15;
  color: var(--basic-darkblue);
  text-transform: uppercase;
}

.credit-button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.about-section p {
  line-height: 24px;
}

.partners {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.45;
  margin: 0 0 37;
}

.about-button {
  font-family: 'Cuprum', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.45;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.contact-us-button:active {
  background-color: var(--error);
}

.contact-us-form,
.map-popup,
.item-added,
.service-warranty-submenu,
.service-credit-submenu {
  display: none;
}

.catalog-title {
  color: var(--basic-darkblue);
  background-color: var(--lightblue-background);
  width: 940px;
}

.form-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.15;
}

section.filter-section {
  width: 220px;
}

.breadcrumps a {
  line-height: 1.45;
}

.breadcrumps a,
.filter-section {
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-title,
.sorting-title {
  line-height: 1.45;
  text-transform: uppercase;
}

.filter-title {
  background-color: var(--milk-background);
}

.range-field,
.output-field input {
  font-size: 17px;
  line-height: 1.45;
  background-color: var(--milk-background);
  border: 0;
}

.sorting-section {
  background-color: var(--milk-background);
}

.manufacturer-option label,
.power-item {
  font-size: 15px;
  line-height: 1.45;
}

.filter-button,
.sorting-button {
  font-size: 13px;
  line-height: 1.45;
  color: var(--basic-black);
}

.filter-button {
  background-color: var(--basic-white);
  border: solid 1px #e5e5e5;
}

.sorting-button {
  border-bottom: 1px dotted var(--basic-red);
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-button.checked {
  color: var(--basic-red);
  border: 0;
}

.sorting-button:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting-button:active {
  color: var(--basic-red);
  border: 0;
}

.catalog-item {
  width: 220px;
}

.item-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--basic-black);
  line-height: 1.15;
}

.old-price,
.current-price {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.45;
  text-transform: uppercase;
}

.old-price {
  color: #A9A9A9;
  text-decoration: line-through;
}

.current-price {
  width: 141px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-align: center;
}

.catalog-item span {
  display: none;
}

.page-number {
  color: var(--basic-black);
  line-height: 1.45;
  border: 1px solid var(--border-grey);
}

.page-number:hover,
.page-number:focus {
  border: 1px solid var(--basic-greylight);
}

.page-number:active {
  border: 1px solid var(--basic-red);
}

.current-page {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.cart-button,
.bookmark-button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.45;
}

.cart-button {
  background-color: var(--basic-green);
}

.cart-button:hover,
.cart-button:focus {
  background-color: var(--success-green);
}

.cart-button:active {
  background-color: var(--click-green);
}

.bookmark-button {
  color: var(--basic-darkblue);
  background-color: var(--basic-white);
  border: solid 3px var(--basic-green);
}

.bookmark-button:hover,
.bookmark-button:focus {
  border: solid 3px var(--basic-darkblue);
}

.bookmark-button:active {
  opacity: 0.5;
}

.catalog-info {
  background-color: var(--basic-background);
}

.catalog-info p {
  line-height: 1.45;
}

.footer-up {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--basic-white);
  line-height: 1.45;
}

.footer-navigation-panel a:hover,
.footer-navigation-panel a:focus,
.footer-features-list a:hover,
.footer-features-list a:focus,
.footer-down span:hover,
.footer-down span:focus,
.academy-link:hover,
.academy-link:focus {
  text-decoration: underline;
}

.footer-navigation-panel a:active,
.footer-features-list a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-features-list a {
  color: var(--special-yellowlight);
}

.footer-down {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--basic-white);
  line-height: 1.45;
}

.social-media {
  text-align: center;
}

.footer-down span,
.academy-link {
  color: var(--special-yellowlight);
}

.footer-down span:active,
.academy-link:active {
  color: var(--basic-red);
}
